
<!-- begin::Demo Panel -->
<div id="kt_demo_panel" class="kt-demo-panel">
	<div class="kt-demo-panel__head">
		<h3 class="kt-demo-panel__title">
			Select A Demo

			<!--<small>5</small>-->
		</h3>
		<a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
	</div>
	<div class="kt-demo-panel__body">
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 1
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo1.png" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo1/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo1/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 2
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo2.png" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo2/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo2/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item kt-demo-panel__item--active">
			<div class="kt-demo-panel__item-title">
				Demo 3
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo3.png" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo3/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo3/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 4
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo4.png" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo4/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo4/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 5
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo5.png" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo5/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo5/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 6
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo6.jpg" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="../demo6/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a>
					<a href="../demo6/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 7
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo7.jpg" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 8
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo8.jpg" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
				</div>
			</div>
		</div>
		<div class="kt-demo-panel__item ">
			<div class="kt-demo-panel__item-title">
				Demo 9
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="assets/media//demos/preview/demo9.jpg" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
				</div>
			</div>
		</div>
		<a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" target="_blank" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
			Buy Keen Now!
		</a>
	</div>
</div>

<!-- end::Demo Panel -->